<div class = "raw" >
    <div class=" col-md-4 col-md-oddset-4">
        <h1>Signup</h1>
        Vallidation Errors
        <form action=" " method="post">
            <div class = "form-group">
                <label for = "e-mail" >E-Mail</label>
                <input type="text" id = "e-mail" name="email" class="form-control">
            </div>

            <div class = "form-group">
                <label for = "password">Password</label>
                <input type="password" id = "password" name="password" class="form-control">
            </div>
            <button type="submit">Sing Up</button>
        </form>

    </div>

</div>